#ifndef __NAUNET_DATA_H__
#define __NAUNET_DATA_H__

// Struct for holding the nessesary additional variables for the problem.
struct NaunetData {
    // clang-format off
    {% for var, val in variables.varis.items() -%}
        double {{ var }}{{ " = %5.3e" | format(val) if val else "" }};
    {% endfor %}

    {% for var, val in variables.tvaris.items() -%}
        double {{ var }}{{ " = %5.3e" | format(val) if val else "" }};
    {% endfor -%}

    // clang-format on
};

#endif
