#ifndef __NAUNET_DATA_H__
#define __NAUNET_DATA_H__

// Struct for holding the nessesary additional variables for the problem.
struct NaunetData {
    // clang-format off
    {% for v in variables.varis -%}
        double {{ v }};
    {% endfor %}

    {% for v in variables.tvaris -%}
        double {{ v }} = -1;
    {% endfor -%}

    // clang-format on
};

#endif
