#include "naunet_macros.h"
#include "naunet_physics.h"
#include "naunet_renorm.h"

// clang-format off
{% if general.device == "gpu" -%} __host__ {% endif -%}
int InitRenorm(realtype *ab, SUNMatrix A) {
    // clang-format on
    realtype Hnuclei = GetHNuclei(ab);

    // clang-format off
    {# get the element index names #}
    {% set elemidxnames = network.elements | map(attribute="element_count") | map("first") | map("prefix", "IDX_ELEM_") | list %}
    {% set nelem = elemidxnames | length %}

    {% for term in renorm.matrix -%}
    {% set i, j = (loop.index0/nelem) | int, loop.index0%nelem -%}
    IJth(A, {{ elemidxnames[i] }}, {{ elemidxnames[j] }}) = {{ term | stmwrap(80, 36) }};
    {% endfor %}
    // clang-format on

    return NAUNET_SUCCESS;
}

// clang-format off
{% if general.device == "gpu" -%} __host__ {% endif -%}
int RenormAbundance(realtype *rptr, realtype *ab) {
    
    {% for spec, fac in zip(network.species, renorm.factor) -%}
    {% set specidx = spec.alias | prefix("IDX_") -%}
    ab[{{ specidx }}] = ab[{{ specidx }}] * ({{ fac }});
    {% endfor %}
    // clang-format on

    return NAUNET_SUCCESS;
}
