set(
    OBJTARGETS
        naunet_constants
        naunet_utilities
        naunet_physics
        naunet_renorm
        naunet_ode
)


{% if general.device == "gpu" -%}
foreach(name ${OBJTARGETS})
    add_library(
        ${name}
            OBJECT
            ${name}.cu
    )
    set_target_properties(
        ${name}
            PROPERTIES
                CUDA_SEPARABLE_COMPILATION ON
    )
    target_include_directories(
        ${name}
            PRIVATE
                ${CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES}
                ${Boost_INCLUDE_DIRS}
            PUBLIC
                ${CMAKE_SOURCE_DIR}/include
    )
endforeach()
{% else %}
foreach(name ${OBJTARGETS})
    add_library(
        ${name}
            OBJECT
            ${name}.cpp
    )
    target_include_directories(
        ${name}
            PUBLIC
                ${CMAKE_SOURCE_DIR}/include
            PRIVATE
                ${Boost_INCLUDE_DIRS}
    )
endforeach()
{% endif %}

if(MAKE_SHARED)
    add_library(
        naunet_shared
            SHARED
            naunet.cpp
    )
    set_target_properties(
        naunet_shared
            PROPERTIES
                OUTPUT_NAME naunet
    )
    {% if general.device == "gpu" -%}
    set_target_properties(
        naunet_shared
            PROPERTIES
                CUDA_SEPARABLE_COMPILATION ON
    )
    target_include_directories(
        naunet_shared
            PRIVATE
                ${CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES}
                ${Boost_INCLUDE_DIRS}
            PUBLIC
                ${CMAKE_SOURCE_DIR}/include
    )
    {% else -%}
    target_include_directories(
        naunet_shared
            PUBLIC
                ${CMAKE_SOURCE_DIR}/include
            PRIVATE
                ${Boost_INCLUDE_DIRS}
    )
    {% endif -%}
    target_link_libraries(
        naunet_shared
            ${OBJTARGETS}
    )
    install(
        TARGETS naunet_shared
        LIBRARY
        DESTINATION lib
    )
endif()

if(MAKE_STATIC)
    add_library(
        naunet_static
            STATIC
            naunet.cpp
    )
    set_target_properties(
        naunet_static
            PROPERTIES
                OUTPUT_NAME naunet
    )
    {% if general.device == "gpu" -%}
    set_target_properties(
        naunet_static
            PROPERTIES
                CUDA_SEPARABLE_COMPILATION ON
    )
    target_include_directories(
        naunet_static
            PRIVATE
                ${CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES}
                ${Boost_INCLUDE_DIRS}
            PUBLIC
                ${CMAKE_SOURCE_DIR}/include
    )
    {% else -%}
    target_include_directories(
        naunet_static
            PUBLIC
                ${CMAKE_SOURCE_DIR}/include
            PRIVATE
                ${Boost_INCLUDE_DIRS}
    )
    {% endif -%}
    target_link_libraries(
        naunet_static
            ${OBJTARGETS}
    )
    install(
        TARGETS naunet_static
        LIBRARY
        DESTINATION lib
    )
endif()

install(DIRECTORY ${PROJECT_SOURCE_DIR}/include/
    DESTINATION include)
