{% if ode.header %}
#include "{{ ode.header }}"
{% else %}
#include <math.h>
#include <boost/numeric/odeint.hpp>
#include "naunet_macros.h"
#include "naunet_userdata.h"

using namespace std;
using namespace boost::numeric::odeint;

typedef boost::numeric::ublas::vector< double > vector_type;
typedef boost::numeric::ublas::matrix< double > matrix_type;
{% endif %}

int calculate_rates(vector_type &k, const vector_type &y, UserData *u_data)
{

    {% for v in ode.var -%}
        {{ v }}
    {% endfor %}

    double Te = Tgas*8.617343e-5; //Tgas in eV (eV)
    double lnTe = log(Te); //ln of Te (#)
    double T32 = Tgas*0.0033333333333333335; //Tgas/(300 K) (#)
    double invT = 1.0/Tgas; //inverse of T (1/K)
    double invTe = 1.0/Te; //inverse of T (1/eV)
    double sqrTgas = sqrt(Tgas); //Tgas rootsquare (K**0.5)

    {% set wrap = "\n        " -%}
    {% set bclose = wrap + "}" -%}
    {% for assign in ode.rateeqns -%}
        {{ assign | wordwrap(80) | replace("\n", wrap) | replace(bclose, '\n    }') }}
        {{ "" }}
    {% endfor %}

    return NAUNET_SUCCESS;
}

fex::fex()
{
    user_data = new UserData();
};

fex::fex(UserData *data)
{
    user_data = new UserData();
    *user_data = *data;
};

fex::~fex()
{
    delete user_data;
};

void fex::operator()(const vector_type &y, vector_type &ydot, double t)
{

    UserData *u_data = (UserData*) user_data;
    {% for v in ode.var -%}
        {{ v }}
    {% endfor %}

    vector_type k(NREACTIONS, 0.0);
    calculate_rates(k, y, u_data);

    {% for eq in ode.fex -%}
        {{ eq | wordwrap(80) | replace('\n', wrap) }}
    {% endfor %}

};

jac::jac()
{
    user_data = new UserData();
};

jac::jac(UserData *data)
{
    user_data = new UserData();
    *user_data = *data;
};

jac::~jac()
{
    delete user_data;
}

void jac::operator()(const vector_type &y, matrix_type &j, const double &t, vector_type &dfdt)
{

    UserData *u_data = (UserData*) user_data;
    {% for v in ode.var -%}
        {{ v }}
    {% endfor %}

    vector_type k(NREACTIONS, 0.0);
    calculate_rates(k, y, u_data);

    {% for eq in ode.jac -%}
        {{ eq | wordwrap(80) | replace('\n', wrap) }}
    {% endfor %}

    for (int i=0; i<NSPECIES; i++)
    {
        dfdt[i] = 0.0;
    }

};

