{% if header %}
#include "{{ header_file }}"
{% else %}
#include <cvode/cvode.h>
#include <nvector/nvector_serial.h>
#include "naunet_constants.h"
#include "userdata.h"
{% endif %}

// Simple function that calculates the differential equation.
{{ func }}{

    realtype *{{ vector }} = N_VGetArrayPointer(u);
    UserData *u_data = (UserData*) user_data;
    realtype Tgas = u_data->Tgas;

    {% for declare in rate_declare -%}
        {{ declare }}
    {% endfor %}

    {% set wrap = "\n        " -%}
    {% set bclose = wrap + "}" -%}
    {% for assign in rate_assign -%}
        {{ assign | wordwrap(80) | replace("\n", wrap) | replace(bclose, '\n    }') }}
        {{ "" }}
    {% endfor %}

    {% for eq in eqns -%}
        {{ eq | wordwrap(80) | replace('\n', wrap) }}
    {% endfor %}

    return 0;

}