
#include <math.h>
#include <stdio.h>

#include <algorithm>

#include "naunet_constants.h"
#include "naunet_macros.h"
#include "naunet_physics.h"
#include "naunet_utilities.h"

/* {% set spec = "__device__ __host__ " if general.device == "gpu" else "" %} */
// clang-format off
{# {{ "{:<19}".format("\n") if not loop.last else ""}} #}
{{ spec }}double GetElementAbund(double *y, int elemidx) {
    {% for elem in network.elements -%}
    {% set elemname = elem.element_count.keys() | first -%}
    if (elemidx == IDX_ELEM_{{ elem.element_count.keys() | first }}) {
        {% set specabund = network.species | map(attribute="alias") | map("prefix", "y[IDX_") | map("suffix", "]") -%}
        {% set count = [0] -%}
        return {% for spec, ab in zip(network.species, specabund) -%}
               {% set natom = spec.element_count.get(elemname) -%}
               {% if natom -%}
               {{ "{:<16}".format("\n") if count[0] and count[0] % 4 == 0 else "" -}}
               {{ "{:.1f}".format(natom) ~ "*" ~ ab ~ " + "}}
               {%- set _ = count.append(count.pop() + 1) -%}
               {%- endif %}
               {%- endfor -%}
               0.0;
    }
    {% endfor %}

}

{{ spec }}double GetMantleDens(double *y) {
    {% set mantlenames = network.species | selectattr("is_surface") | map(attribute="alias") -%}
    {% set mantles = mantlenames | map("prefix", "y[IDX_") | map("suffix", "]") -%}
    return {{ mantles | join(" + ") | stmwrap(80, 8) }} + 0.0;
}

{{ spec }}double GetHNuclei(double *y) {
#ifdef IDX_ELEM_H
    return GetElementAbund(y, IDX_ELEM_H);
#else
    return 0.0;
#endif
}

{{ spec }}double GetMu(double *y) {
    // TODO: exclude electron, grain?
    {% set specnames = network.species | map(attribute="alias") -%}
    {% set abunds = specnames | map("prefix", "y[IDX_") | map("suffix", "]") -%}
    {% set massnumbers = network.species | map(attribute="massnumber") -%}
    double mass = {% for row in zip(abunds, massnumbers) | batch(4) -%} 
                  {% for ab, m in row %}{{ m }}*{{ ab }} + {% endfor -%}
                  {{ "{:<19}".format("\n") if not loop.last else ""}}
                  {%- endfor -%} 0.0;
    {% set specnames = network.species | map(attribute="alias") -%}
    {% set abunds = specnames | map("prefix", "y[IDX_") | map("suffix", "]") -%}
    double num = {{ abunds | join(" + ") | stmwrap(80, 17)}} + 0.0;

    return mass / num;
}

{{ spec }}double GetGamma(double *y) {
    // TODO: different ways to get adiabatic index
    return 5.0 / 3.0;
}

{{ spec }}double GetNumDens(double *y) {
    double numdens = 0.0;

    for (int i = 0; i < NSPECIES; i++) numdens += y[i];
    return numdens;
}
// clang-format on

/* {% set spec = "__device__ " if general.device == "gpu" else "" %} */
// clang-format off
{{ spec }}
double GetShieldingFactor(int specidx, double h2coldens, double spcoldens,
                          double tgas, int method) {
    // clang-format on
    double factor;
#ifdef IDX_H2I
    if (specidx == IDX_H2I) {
        factor = GetH2shielding(h2coldens, method);
    }
#endif
#ifdef IDX_COI
    if (specidx == IDX_COI) {
        factor = GetCOshielding(tgas, h2coldens, spcoldens, method);
    }
#endif
#ifdef IDX_N2I
    if (specidx == IDX_N2I) {
        factor = GetN2shielding(tgas, h2coldens, spcoldens, method);
    }
#endif

    return factor;
}

// clang-format off
{{ spec }}
double GetH2shielding(double coldens, int method) {
    // clang-format on
    double shielding = -1.0;
    switch (method) {
        case 0:
            shielding = GetH2shieldingInt(coldens);
            break;
        case 1:
            shielding = GetH2shieldingFGK(coldens);
            break;
        default:
            break;
    }
    return shielding;
}

// clang-format off
{{ spec }}double GetCOshielding(double tgas, double h2col, double coldens, int method) {
    // clang-format on
    double shielding = -1.0;
    switch (method) {
        case 0:
            shielding = GetCOshieldingInt(tgas, h2col, coldens);
            break;
        case 1:
            shielding = GetCOshieldingInt1(h2col, coldens);
            break;
        default:
            break;
    }
    return shielding;
}

// clang-format off
{{ spec }}double GetN2shielding(double tgas, double h2col, double coldens, int method) {
    // clang-format on
    double shielding = -1.0;
    switch (method) {
        case 0:
            shielding = GetN2shieldingInt(tgas, h2col, coldens);
            break;
        default:
            break;
    }
    return shielding;
}

// Interpolate/Extropolate from table (must be rendered in naunet constants)
// clang-format off
{{ spec }}double GetH2shieldingInt(double coldens) {
    // clang-format on

    double shielding = -1.0;

    /* {% if network.shielding.get("H2") == "L96Table" -%} */
    int i;
    for (i = 0; i < 103; i++) {
        if (coldens < H2ShieldingTableX[i + 1]) {
            break;
        }
    }
    double x1 = H2ShieldingTableX[i];
    double x2 = H2ShieldingTableX[i + 1];
    double y1 = H2ShieldingTable[i];
    double y2 = H2ShieldingTable[i + 1];
    shielding =
        log10(y1) + log10(y2 / y1) * log10(coldens / x1) / log10(x2 / x1);
    shielding = pow(10.0, shielding);
    return shielding;

    /* {% else -%} */

    printf("WARNING!! Not Implemented! Return H2 shielding = -1.\n");

    /* {% endif -%} */

    return shielding;
}

// Calculates the line self shielding function
// Ref: Federman et al. apj vol.227 p.466.
// Originally implemented in UCLCHEM
// clang-format off
{{ spec }}double GetH2shieldingFGK(double coldens) {
    // clang-format on

    const double dopplerwidth       = 3.0e10;
    const double radiativewidth     = 8.0e7;
    const double oscillatorstrength = 1.0e-2;

    double shielding                = -1.0;

    double taud = 0.5 * coldens * 1.5e-2 * oscillatorstrength / dopplerwidth;

    // Calculate wing contribution of self shielding function sr
    if (taud < 0.0) taud = 0.0;

    double sr = 0.0;
    if (radiativewidth != 0.0) {
        double r = radiativewidth / (1.7724539 * dopplerwidth);
        double t = 3.02 * pow(1000.0 * r, -0.064);
        double u = pow(taud * r, 0.5) / t;
        sr       = pow((u * u + 0.78539816), -0.5) * r / t;
    }

    // Calculate doppler contribution of self shielding function sj
    double sj = 0.0;
    if (taud == 0.0) {
        sj = 1.0;
    } else if (taud < 2.0) {
        sj = exp(-0.6666667 * taud);
    } else if (taud < 10.0) {
        sj = 0.638 * pow(taud, -1.25);
    } else if (taud < 100.0) {
        sj = 0.505 * pow(taud, -1.15);
    } else {
        sj = 0.344 * pow(taud, -1.0667);
    }

    shielding = sj + sr;

    return shielding;
}

// Interpolate/Extropolate from table (must be rendered in naunet constants)
// clang-format off
{{ spec }}double GetCOshieldingInt(double tgas, double h2col, double coldens) {
    // clang-format on
    double shielding = -1.0;

    /* {% if network.shielding.get("CO") == "V09Table" -%} */
    double x1, x2, y1, y2, z1, z2;
    int i1, i2, j1, j2, k1, k2;
    for (i1 = 0; i1 < 3; i1++) {
        if (tgas < COShieldingTableX[i1 + 1]) {
            break;
        }
    }
    i2 = i1 + 1;
    x1 = COShieldingTableX[i1];
    x2 = COShieldingTableX[i2];

    for (j1 = 0; j1 < 39; j1++) {
        if (h2col < COShieldingTableY[j1 + 1]) {
            break;
        }
    }
    j2 = j1 + 1;
    y1 = COShieldingTableY[j1];
    y2 = COShieldingTableY[j2];

    for (k1 = 0; k1 < 44; k1++) {
        if (coldens < COShieldingTableZ[k1 + 1]) {
            break;
        }
    }
    k2        = k1 + 1;
    z1        = COShieldingTableZ[k1];
    z2        = COShieldingTableZ[k2];

    double mx = log10(tgas / x1) / log10(x2 / x1);
    double my = log10(h2col / y1) / log10(y2 / y1);
    double mz = log10(coldens / z1) / log10(z2 / z1);

    double f1 = log10(COShieldingTable[i1][j1][k1]) * (1 - mx) +
                log10(COShieldingTable[i2][j1][k1]) * mx;
    double f2 = log10(COShieldingTable[i1][j2][k1]) * (1 - mx) +
                log10(COShieldingTable[i2][j2][k1]) * mx;
    double f3 = log10(COShieldingTable[i1][j1][k2]) * (1 - mx) +
                log10(COShieldingTable[i2][j1][k2]) * mx;
    double f4 = log10(COShieldingTable[i1][j2][k2]) * (1 - mx) +
                log10(COShieldingTable[i2][j2][k2]) * mx;

    shielding =
        (f1 * (1 - my) + f2 * my) * (1 - mz) + (f3 * (1 - my) + f4 * my) * mz;
    shielding = pow(10.0, shielding);

    /* {% else -%} */

    printf("WARNING!! Not Implemented! Return CO shielding = -1.\n");

    /* {% endif -%} */

    return shielding;
}

// clang-format off
{{ spec }}double GetCOshieldingInt1(double h2col, double coldens) {
    // clang-format on
    double shielding = -1.0;

    /* {% if network.shielding.get("CO") == "VB88Table" -%} */
    double logh2     = std::min(std::max(log10(h2col), COShieldingTableX[0]),
                                COShieldingTableX[5]);
    double logco     = std::min(std::max(log10(coldens), COShieldingTableY[0]),
                                COShieldingTableY[6]);

    /* {% if general.device == "gpu" -%} */

    printf("WARNING!! Not Implemented! Return CO shielding = -1.\n");

    /* {% else -%} */

    double *x1  = naunet_util::vector(1, 6);
    double *x2  = naunet_util::vector(1, 7);
    double **y  = naunet_util::matrix(1, 6, 1, 7);
    double **y2 = naunet_util::matrix(1, 6, 1, 7);

    for (int i = 1; i <= 6; i++) x1[i] = COShieldingTableX[i - 1];
    for (int i = 1; i <= 7; i++) x2[i] = COShieldingTableY[i - 1];

    for (int i = 1; i <= 6; i++) {
        for (int j = 1; j <= 7; j++) {
            y[i][j] = COShieldingTable[i - 1][j - 1];
        }
    }

    naunet_util::splie2(x1, x2, y, 6, 7, y2);

    naunet_util::splin2(x1, x2, y, y2, 6, 7, logh2, logco, &shielding);

    shielding = pow(10.0, shielding);

    naunet_util::free_vector(x1, 1, 6);
    naunet_util::free_vector(x2, 1, 7);
    naunet_util::free_matrix(y, 1, 6, 1, 7);
    naunet_util::free_matrix(y2, 1, 6, 1, 7);

    /* {% endif -%} */

    /* {% else -%} */

    printf("WARNING!! Not Implemented! Return CO shielding = -1.\n");

    /* {% endif -%} */

    return shielding;
}

// Interpolate/Extropolate from table (must be rendered in naunet constants)
// clang-format off
{{ spec }}double GetN2shieldingInt(double tgas, double h2col, double coldens) {
    // clang-format on

    double shielding = -1.0;

    /* {% if network.shielding.get("N2") == "L13Table" -%} */
    double x1, x2, y1, y2, z1, z2;
    int i1, i2, j1, j2, k1, k2;
    // find the index where tags falls in the range]
    for (i1 = 0; i1 < 3; i1++) {
        if (tgas < N2ShieldingTableX[i1 + 1]) {
            break;
        }
    }
    i2 = i1 + 1;
    x1 = N2ShieldingTableX[i1];
    x2 = N2ShieldingTableX[i2];

    for (j1 = 0; j1 < 44; j1++) {
        if (h2col < N2ShieldingTableY[j1 + 1]) {
            break;
        }
    }
    j2 = j1 + 1;
    y1 = N2ShieldingTableY[j1];
    y2 = N2ShieldingTableY[j2];

    for (k1 = 0; k1 < 44; k1++) {
        if (coldens < N2ShieldingTableZ[k1 + 1]) {
            break;
        }
    }
    k2        = k1 + 1;
    z1        = N2ShieldingTableZ[k1];
    z2        = N2ShieldingTableZ[k2];

    double mx = log10(tgas / x1) / log10(x2 / x1);
    double my = log10(h2col / y1) / log10(y2 / y1);
    double mz = log10(coldens / z1) / log10(z2 / z1);

    double f1 = log10(N2ShieldingTable[i1][j1][k1]) * (1 - mx) +
                log10(N2ShieldingTable[i2][j1][k1]) * mx;
    double f2 = log10(N2ShieldingTable[i1][j2][k1]) * (1 - mx) +
                log10(N2ShieldingTable[i2][j2][k1]) * mx;
    double f3 = log10(N2ShieldingTable[i1][j1][k2]) * (1 - mx) +
                log10(N2ShieldingTable[i2][j1][k2]) * mx;
    double f4 = log10(N2ShieldingTable[i1][j2][k2]) * (1 - mx) +
                log10(N2ShieldingTable[i2][j2][k2]) * mx;

    shielding =
        (f1 * (1 - my) + f2 * my) * (1 - mz) + (f3 * (1 - my) + f4 * my) * mz;
    shielding = pow(10.0, shielding);

    /* {% else -%} */

    printf("WARNING!! Not Implemented! Return N2 shielding = -1.\n");

    /* {% endif -%} */

    return shielding;
}

// Calculate xlamda := tau(lambda) / tau(visual)
// tau(lambda) is the opt. depth for dust extinction at
// wavelength x (cf. b.d.savage and j.s.mathis, annual
// review of astronomy and astrophysics vol.17(1979),p.84)
// clang-format off
{{ spec }}double xlamda(double wavelength) {
    // clang-format on
    double x[29] = {910.0,  950.0,  1000.0,  1050.0,  1110.0, 1180.0,
                    1250.0, 1390.0, 1490.0,  1600.0,  1700.0, 1800.0,
                    1900.0, 2000.0, 2100.0,  2190.0,  2300.0, 2400.0,
                    2500.0, 2740.0, 3440.0,  4000.0,  4400.0, 5500.0,
                    7000.0, 9000.0, 12500.0, 22000.0, 34000.0};

    double y[29] = {5.76, 5.18, 4.65, 4.16, 3.73, 3.4,  3.11, 2.74, 2.63, 2.62,
                    2.54, 2.5,  2.58, 2.78, 3.01, 3.12, 2.86, 2.58, 2.35, 2.0,
                    1.58, 1.42, 1.32, 1.0,  0.75, 0.48, 0.28, 0.12, 0.05};

    if (wavelength < x[0]) {
        return 5.76;
    }

    else if (wavelength >= x[28]) {
        return 0.05 - 5.16e-11 * (wavelength - x[28]);
    }

    for (int i = 0; i < 28; i++) {
        if (wavelength >= x[i] && wavelength < x[i + 1]) {
            return y[i] +
                   (y[i + 1] - y[i]) * (wavelength - x[i]) / (x[i + 1] - x[i]);
        }
    }

    return 0.0;
}

// Calculate the influence of dust extinction (g=0.8, omega=0.3)
// Ref: Wagenblast & Hartquist, mnras237, 1019 (1989)
// Adapted from UCLCHEM
// clang-format off
{{ spec }}double GetGrainScattering(double av, double wavelength) {
    // clang-format on
    double c[6] = {1.0e0, 2.006e0, -1.438e0, 7.364e-1, -5.076e-1, -5.920e-2};
    double k[6] = {7.514e-1, 8.490e-1, 1.013e0, 1.282e0, 2.005e0, 5.832e0};

    double tv   = av / 1.086;
    double tl   = tv * xlamda(wavelength);

    double scat = 0.0;
    double expo;
    if (tl < 1.0) {
        expo = k[0] * tl;
        if (expo < 35.0) {
            scat = c[0] * exp(-expo);
        }
    } else {
        for (int i = 1; i < 6; i++) {
            expo = k[i] * tl;
            if (expo < 35.0) {
                scat = scat + c[i] * exp(-expo);
            }
        }
    }

    return scat;
}

// Calculate lambda bar (in a) according to equ. 4 of van dishoeck
// and black, apj 334, p771 (1988)
// Adapted from UCLCHEM
// clang-format off
{{ spec }}double GetCharactWavelength(double h2col, double cocol) {
    // clang-format on
    double logco = log10(abs(cocol) + 1.0);
    double logh2 = log10(abs(h2col) + 1.0);

    double lbar  = (5675.0 - 200.6 * logh2) - (571.6 - 24.09 * logh2) * logco +
                  (18.22 - 0.7664 * logh2) * pow(logco, 2.0);

    // lbar represents the mean of the wavelengths of the 33
    // dissociating bands weighted by their fractional contribution
    // to the total rate of each depth. lbar cannot be larger than
    // the wavelength of band 33 (1076.1a) and not be smaller than
    // the wavelength of band 1 (913.6a).

    /* {% if general.device == "gpu" -%} */
    lbar = min(1076.0, max(913.0, lbar));
    /* {% else -%} */
    lbar = std::min(1076.0, std::max(913.0, lbar));
    /* {% endif -%} */
    return lbar;
}
