#ifndef __NAUNET_CONSTANTS_H__
#define __NAUNET_CONSTANTS_H__

#define NAUNET_SUCCESS 0
#define NAUNET_FAIL 1

{{ nspec_def }}
{{ nreac_def }}

{% for idx in spec_idx -%}
    {{ idx }}
{% endfor %}

#endif
