{% extends "base/cpp/tests/CMakeLists.txt.j2" %}
{% block targets -%}
    singlegrid
    renorm
{% endblock targets -%}
{% block pytargets -%}
            singlegrid
            renorm
{% endblock pytargets -%}