{% extends "base/cpp/tests/test.py.in.j2" %}
{% block parameters %}
nH = 2e4
zeta = 1.3e-17
Tgas = 15.0
Av = 10.0
omega = 0.5
G0 = 1.0
rG = 1e-5
gdens = 7.6394373e-13 * nH
sites = 1.5e15
fr = 1.0
opt_thd = 1.0
opt_crd = 1.0
opt_uvd = 1.0
opt_h2d = 1.0
eb_crd = 1.21e3;
eb_h2d = 1.21e3;
eb_uvd = 1.00e4;
crdeseff = 1.0e5
h2deseff = 1.0e-2
uvcreff = 1.0e-3

naunet_data.nH = nH
naunet_data.zeta = zeta
naunet_data.Tgas = Tgas
naunet_data.Av = Av
naunet_data.omega = omega
naunet_data.G0 = G0
naunet_data.rG = rG
naunet_data.gdens = gdens
naunet_data.sites = sites
naunet_data.fr = fr
naunet_data.opt_thd = opt_thd
naunet_data.opt_crd = opt_crd
naunet_data.opt_uvd = opt_uvd
naunet_data.opt_h2d = opt_h2d
naunet_data.eb_crd = eb_crd;
naunet_data.eb_h2d = eb_h2d;
naunet_data.eb_uvd = eb_uvd;
naunet_data.crdeseff = crdeseff
naunet_data.h2deseff = h2deseff
naunet_data.uvcreff = uvcreff
{% endblock parameters %}
{% block initial_abundance %}
y[species.index("H2")] = 0.5 * nH
y[species.index("H")] = 5.0e-5 * nH
y[species.index("HE")] = 9.75e-2 * nH
y[species.index("N")] = 7.5e-5 * nH
y[species.index("O")] = 1.8e-4 * nH
y[species.index("CO")] = 1.4e-4 * nH
y[species.index("S")] = 8.0e-8 * nH
y[species.index("SI")] = 8.0e-9 * nH
y[species.index("MG")] = 7.0e-9 * nH
y[species.index("CL")] = 4.0e-9 * nH
{% endblock initial_abundance %}