#ifndef __NAUNET_CONSTANTS_H__
#define __NAUNET_CONSTANTS_H__

#define NAUNET_SUCCESS 0
#define NAUNET_FAIL 1

{{ constants.nspec }}
{{ constants.nreact }}
{% if info.method == "sparse" or info.method == "cusparse" -%}
{{ constants.nnz }}
{% endif -%}
{% if info.method == "cusparse" -%}
#define MAXNGROUPS 1
#define BLOCKSIZE 1
{% endif -%}

{% for idx in constants.speclist -%}
    {{ idx }}
{% endfor -%}

#endif
