#ifndef __NAUNET_CONSTANTS_H__
#define __NAUNET_CONSTANTS_H__

#define NAUNET_SUCCESS 0
#define NAUNET_FAIL 1

{{ constants.nspec }}
{{ constants.nreact }}
{% if info.linsolver == "sparse" -%}
{{ constants.nnz }}
{% endif %}

{% for idx in constants.speclist -%}
    {{ idx }}
{% endfor %}

#endif
