#ifndef __NAUNET_USERDATA_H__
#define __NAUNET_USERDATA_H__

// Class for holding the nessesary additional variables for the problem.
class UserData
{
public:
    {% for v in userdata.var -%}
        {{ v }}
    {% endfor %}

};

#endif
