#ifndef __NAUNET_MACROS_H__
#define __NAUNET_MACROS_H__

#include <sunmatrix/sunmatrix_dense.h>

// {% include "base/cpp/include/naunet_macros.h.j2" %}

#define IJth(A, i, j) SM_ELEMENT_D(A, i, j)

#endif
