#ifndef __NAUNET_H__
#define __NAUNET_H__

#include <sundials/sundials_types.h>    // defs. of realtype, sunindextype
#include <sundials/sundials_math.h>     // contains the macros ABS, SUNSQR, EXP
#include <sundials/sundials_linearsolver.h>
{% if info.method == "cusparse" -%}
#include <sunlinsol/sunlinsol_cusolversp_batchqr.h>
{% endif -%}

#include "naunet_data.h"


class Naunet
{

private:
    // NaunetData *m_data;
    N_Vector m_y;
    SUNMatrix m_a;

    realtype m_atol;
    realtype m_rtol;
    void *m_cvode_mem;
    SUNLinearSolver m_ls;

    {% if info.method == "cusparse" -%}
    cusparseHandle_t m_cusp_handle;
    cusolverSpHandle_t m_cusol_handle;
    {% endif %}

public:
    Naunet();
    ~Naunet();
    int initSolver();
    {% if info.method == "cusparse" -%}
    int resetSolver(int nsystem);
    {% endif -%}
    int solve(realtype *ab, realtype dt, NaunetData *data);
};

#endif
