#ifndef __NAUNET_RENORM_H__
#define __NAUNET_RENORM_H__

#include <sundials/sundials_matrix.h>

// clang-format off
{% if general.device == "gpu" -%} __host__ {% endif %}int InitRenorm(realtype *ab, SUNMatrix A);
{% if general.device == "gpu" -%} __host__ {% endif %}int RenormAbundance(realtype *rptr, realtype *ab);

#endif
