{% extends "base/cpp/tests/singlegrid.py.in.j2" %}
{% block parameters %}
nH = 1e-2
tgas = 100000.0

naunet_data.nH = nH
naunet_data.Tgas = tgas
{% endblock parameters %}
{% block initial_abundance %}
y = np.ones(NSPEC + HAS_THERMAL) * 1e-40
y[IDX_HI]      = nH
y[IDX_HII]     = 1e-4 * nH
y[IDX_HeI]     = 1e-1 * nH
y[IDX_HDI]     = 1.5e-5 * nH
y[IDX_H2I]     = 1.5e-5 *nH
y[IDX_eM]      = 1e-4 * nH
if HAS_THERMAL:
    y[NSPEC]               = tgas # Temperature
{% endblock initial_abundance %}
{% block temperature %}
        naunet_data.Tgas = y[NSPEC]
{% endblock temperature %}
