#ifndef __NAUNET_ENZO_H__
#define __NAUNET_ENZO_H__
// clang-format off
#include "naunet.h"
#include "naunet_data.h"

// the MultiSpecies option of ENZO
#define NAUNET_SPECIES 4
// the number of species in ENZO, including the fields which are not present
// in the naunet header
#define ENZO_NSPECIES {{ nspec }}


{% for s in species -%}
#define A_{{ s.alias }} {{ 1.0 if s.iselectron else s.massnumber }}
{% endfor %}


const float A_Table[NSPECIES] = {
    {% for s in species -%}
    A_{{ s.alias }}{{ ",\n    " if not loop.last else "\n" }}
    {%- endfor -%}
};

#endif
