#ifndef __NAUNET_ENZO_H__
#define __NAUNET_ENZO_H__
// clang-format off
#include "naunet.h"
#include "naunet_data.h"

#define NAUNET_SPECIES 4
// number of equations to be solved
#define NAUNET_NSPECIES {{ nspec }}
#define NAUNET_NEQNS {{ neqns }}

{% for s in species -%}
#define IDX_{{ s.alias }} {{ loop.index0 }}
{% endfor -%}


{% for s in species -%}
#define A_{{ s.alias }} {{ s.massnumber }}
{% endfor -%}

#endif
