// clang-format off
/* {% set spec = "__device__ __host__ " if general.device == "gpu" else "" %} */
{{ spec }}double GetElementAbund(double *y, int elemidx);
{{ spec }}double GetMantleDens(double *y);
{{ spec }}double GetHNuclei(double *y);
{{ spec }}double GetMu(double *y);
{{ spec }}double GetGamma(double *y);
{{ spec }}double GetNumDens(double *y);
/* {% set spec = "__device__ " if general.device == "gpu" else "" %} */
{{ spec }}double GetShieldingFactor(int specidx, double h2coldens, double spcoldens, double tgas, int method);
{{ spec }}double GetH2shielding(double coldens, int method);
{{ spec }}double GetCOshielding(double tgas, double h2col, double coldens, int method);
{{ spec }}double GetN2shielding(double tgas, double h2col, double coldens, int method);
{{ spec }}double GetH2shieldingInt(double coldens);
{{ spec }}double GetH2shieldingFGK(double coldens);
{{ spec }}double GetCOshieldingInt(double tgas, double h2col, double coldens);
{{ spec }}double GetCOshieldingInt1(double h2col, double coldens);
{{ spec }}double GetN2shieldingInt(double tgas, double h2col, double coldens);
{{ spec }}double GetGrainScattering(double av, double wavelength);
{{ spec }}double GetCharactWavelength(double h2col, double cocol);
