#ifndef __NAUNET_MACROS_H__
#define __NAUNET_MACROS_H__

// clang-format off
#define NAUNET_SUCCESS 0
#define NAUNET_FAIL 1

#define NELEMENTS {{ macros.elemcidx | length }}
{{ macros.nspec }}
{{ macros.neqns }}
{{ macros.nreact }}
{{ macros.nheating }}
{{ macros.ncooling }}
{% if info.method == "sparse" or info.method == "cusparse" -%}
{{ macros.nnz }}
{% endif %}
{% if info.method == "cusparse" -%}
#define USE_CUDA
#define MAX_NSYSTEMS 4096
#define NSTREAMS 1 // looks no benefit to use multiple streams
#define MAX_NSYSTEMS_PER_STREAM (MAX_NSYSTEMS/NSTREAMS)
#define BLOCKSIZE 64
{% else %}
#define MAX_NSYSTEMS 1
{% endif %}

{% for idx in macros.speclist -%}
    {{ idx }}
{% endfor %}

{% for idx in macros.elemcidx %}
#define {{ idx }} {{ loop.index0 }}
{% endfor %}

#endif
