
#ifndef __NAUNET_DATA_H__
#define __NAUNET_DATA_H__

// Struct for holding the nessesary additional variables for the problem.
struct NaunetData {
    // clang-format off
    {% for var, val in variables.varis.items() -%}
        double {{ var }}{{ "" if val is none else " = %5.3e" | format(val) }};
    {% endfor %}

    // clang-format on
};

#endif
