
// clang-format off
{% set spec = "__constant__" if general.device == "gpu" else "const" %}
extern {{ spec }} double pi;

// atomic mass unit (g)
extern {{ spec }} double amu;

// mass of electron (g)
extern {{ spec }} double me;

// mass or electron (u)
extern {{ spec }} double meu;

// mass of proton (g)
extern {{ spec }} double mp;

// mass of neutron (g)
extern {{ spec }} double mn;

// mass of hydrogen (g)
extern {{ spec }} double mh;

// electron charge (esu)
extern {{ spec }} double echarge;

// Boltzmann constant (erg/K)
extern {{ spec }} double kerg;

// reduced Planck constant
extern {{ spec }} double hbar;

{% set components = network.reactions + network.grains + network.heating + network.cooling -%}
{% for key, _ in components | collect_variable_items("constants") -%}
extern {{ spec }} double {{ key }};
{% endfor %}

{% for s in network.species | selectattr("is_surface") -%}
extern {{ spec }} double eb_{{ s.alias }};
{% endfor %}

{% set spec = "__device__" if general.device == "gpu" else "const" %}
{% if network.shielding.get("H2") == "L96Table" %}
// H2 column density
extern {{ spec }} double H2ShieldingTableX[105];
// H2 shielding factor
extern {{ spec }} double H2ShieldingTable[105];
{% endif %}

{% if network.shielding.get("CO") == "V09Table" %}
// Excitation temperature
extern {{ spec }} double COShieldingTableX[5];
// H2 column density
extern {{ spec }} double COShieldingTableY[41];
// CO column density
extern {{ spec }} double COShieldingTableZ[46];
// CO shielding factor
extern {{ spec }} double COShieldingTable[5][41][46];
{% endif %}

{% if network.shielding.get("CO") == "VB88Table" and general.device == "cpu" %}
// van Dishoeck & Black (1988)
// H2 column density
extern const double COShieldingTableX[6];
// CO column density
extern const double COShieldingTableY[7];
// CO shielding factor
extern const double COShieldingTable[6][7];
// Second derivative of CO shielding factor
// extern double COShieldingTableD2[6][7];
{% endif %}

{% if network.shielding.get("N2") == "L13Table" %}
// Excitation temperature
extern {{ spec }} double N2ShieldingTableX[5];
// H2 column density
extern {{ spec }} double N2ShieldingTableY[46];
// N2 column density
extern {{ spec }} double N2ShieldingTableZ[46];
// N2 shielding factor
extern {{ spec }} double N2ShieldingTable[5][46][46];
{% endif %}
