
// Struct for holding the nessesary additional variables for the problem.
struct NaunetData {
    // clang-format off
    {% set components = network.reactions + network.grains + network.heating + network.cooling -%}
    {% for key, value in components | collect_variable_items("params") -%}
        double {{ key }}{{ "" if value is none else " = %5.3e" | format(value) }};
    {% endfor %}

    // clang-format on
};
