// {% extends "base/cpp/tests/multiplegrid.cpp.j2" %}
// clang-format off
{% block parameters %}
    double nH        = 1e5;

    for (int isys = 0; isys < nsystem; isys++) {
        data[isys].nH      = nH;
        data[isys].Tgas    = 15.0;
    }
{% endblock parameters %}
{% block initial_abundance %}
    double *y = new double[nsystem * NEQUATIONS];
    for (int isys = 0; isys < nsystem; isys++) {
        for (int i = 0; i < NEQUATIONS; i++) {
            y[isys * NEQUATIONS + i] = 1.e-40;
        }
        y[isys * NEQUATIONS + IDX_HI]      = nH;
        y[isys * NEQUATIONS + IDX_C2I]     = 7.0e-5 * nH;
    }
{% endblock initial_abundance %}