{% extends "base/cpp/tests/singlegrid.py.in.j2" %}
{% block parameters %}
nH = 1e5

naunet_data.nH = nH
naunet_data.Tgas = 15.0
{% endblock parameters %}
{% block initial_abundance %}
y = np.ones(len(species)) * 1e-40
y[species.index("H")]      = nH
y[species.index("C")]      = 7.0e-5 * nH
y[species.index("CH")]     = 7.0e-5 * nH
{% endblock initial_abundance %}
