#ifndef __NAUNET_PHYSICS_H__
#define __NAUNET_PHYSICS_H__

double GetMantleDens(double *y);

double GetShieldingFactor(int specidx, double h2coldens, double spcoldens,
                          double tgas, int method);

double GetH2shielding(double coldens, int method);

double GetCOshielding(double tgas, double h2col, double coldens, int method);

double GetN2shielding(double tgas, double h2col, double coldens, int method);

double GetH2shieldingInt(double coldens);

double GetCOshieldingInt(double tgas, double h2col, double coldens);

double GetN2shieldingInt(double tgas, double h2col, double coldens);

#endif