#ifndef __NAUNET_H__
#define __NAUNET_H__

#include "naunet_userdata.h"
#include "naunet_ode.h"
#include "naunet_macros.h"


class Naunet
{
private:
    double m_atol;
    double m_rtol;

public:
    Naunet();
    ~Naunet();
    int initSolver();
    int solve(double *ab, double dt, UserData *data);
};

#endif
