#ifndef __NAUNET_ODE_H__
#define __NAUNET_ODE_H__

#include <boost/numeric/odeint.hpp>

#include "naunet_data.h"

typedef boost::numeric::ublas::vector<double> vector_type;
typedef boost::numeric::ublas::matrix<double> matrix_type;

int EvalRates(double *k, double *y, NaunetData *user_data);

class Fex {
   private:
    NaunetData *u_data;

   public:
    Fex(NaunetData *data);
    ~Fex();

    void operator()(const vector_type &y, vector_type &ydot, double t);
};

class Jac {
   private:
    NaunetData *u_data;

   public:
    Jac(NaunetData *data);
    ~Jac();

    void operator()(const vector_type &y, matrix_type &j, const double &t,
                    vector_type &dfdt);
};

#endif