#ifndef __NAUNET_MACROS_H__
#define __NAUNET_MACROS_H__

#define NAUNET_SUCCESS 0
#define NAUNET_FAIL 1

{{ macros.nspec }}
{{ macros.nreact }}

{% for idx in macros.speclist -%}
    {{ idx }}
{% endfor -%}

#endif
