{% extends "base/cpp/tests/singlegrid.py.in.j2" %}
{% block parameters %}
pi = 3.14159265
rD = 1.0e-5
rhoD = 3.0
DtoGM = 7.09e-3
amH = 1.66043e-24
nH = 1e5
OPRH2 = 0.1

naunet_data.nH = nH
naunet_data.Tgas = 15.0
naunet_data.user_Av = 30.0
naunet_data.user_crflux = 2.5e-17
naunet_data.user_GtoDN = (4.e0 * pi * rhoD * rD * rD * rD) / (3.e0 * DtoGM * amH)
{% endblock parameters %}
{% block initial_abundance %}
y = np.ones(NSPEC + HAS_THERMAL) * 1e-40
y[IDX_pH2I]    = 1.0 / (1.0 + OPRH2) * 0.5 * nH
y[IDX_oH2I]    = OPRH2 / (1.0 + OPRH2) * 0.5 * nH
y[IDX_HDI]     = 1.5e-5 * nH
y[IDX_HeI]     = 1.0e-1 * nH
y[IDX_NI]      = 2.1e-6 * nH
y[IDX_OI]      = 1.8e-5 * nH
y[IDX_CI]      = 7.3e-6 * nH
y[IDX_GRAIN0I] = 1.3215e-12 * nH
{% endblock initial_abundance %}
{% block timesteps %}
times = np.loadtxt("timeres.dat")
timesteps = times[1:] - times[:-1]
{% endblock timesteps %}
